*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache
.tox

test_data/*

conda.deps

docs/_build

# ide
.idea
.eclipse

# Mac
.DS_Store

# virtual environments
env
env3
venv
venv3


# temporary test data

test_data/*
.helpers/dock_test_data/*
.helpers/dock_test_add/*