name: Prepare test data release

on:
    workflow_dispatch:
        inputs:
            zenodo_record_id:
                description: "Zenodo record ID to download the dataset from"
                type: string
    workflow_call:
        inputs:
            zenodo_record_id:
                description: "Zenodo record ID to download the dataset from"
                type: string
    # pull_request:
    #     types: [opened, synchronize, reopened, ready_for_review]
    #     paths:
    #         - .github/workflows/prepare_test_data.yml

env:
    RELEASE_TAG_TEMPLATE: testdata_zenodo.
    ARCHIVE_NAME: test_data.tar.zst

jobs:
    build-and-release:
        name: Download and publish test data
        runs-on: ubuntu-latest
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - uses: actions/checkout@v4
            - name: Check if release exists
              id: check-release
              run: |
                  gh release view ${{ env.RELEASE_TAG_TEMPLATE }}${{ inputs.zenodo_record_id }}
                  if gh release view ${{ env.RELEASE_TAG_TEMPLATE }}${{ inputs.zenodo_record_id }} >/dev/null 2>&1; then
                      echo "release_exists=true" >> $GITHUB_OUTPUT
                  else
                      echo "release_exists=false" >> $GITHUB_OUTPUT
                  fi
            - name: Release already exists, skipping
              if: steps.check_release.outputs.release_exists == 'true'
              run: echo "Release $RELEASE_TAG already exists. Skipping workflow."

            - uses: actions/setup-python@v5
              if: steps.check_release.outputs.release_exists != 'true'
              with:
                  python-version: "3.10"

            - name: Install tools
              if: steps.check_release.outputs.release_exists != 'true'
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install zenodo-get
                  sudo apt-get update
                  sudo apt-get install -y zstd

            - name: Download dataset from Zenodo
              if: steps.check_release.outputs.release_exists != 'true'
              run: |
                  mkdir -p test_data
                  cd test_data
                  zenodo_get $ZENODO_RECORD_ID
                  cd -

            - name: Create compressed archive
              if: steps.check_release.outputs.release_exists != 'true'
              run: |
                  tar -I zstd -cf "${ARCHIVE_NAME}" test_data/

            - name: Publish Release asset (creates or updates a prerelease)
              if: steps.check_release.outputs.release_exists != 'true'
              run: |
                  gh release create \
                      ${{ env.RELEASE_TAG_TEMPLATE }}${{ inputs.zenodo_record_id }} \
                      --prerelease \
                      --title ${{ env.RELEASE_TAG_TEMPLATE }}${{ inputs.zenodo_record_id }} \
                      --notes "Automated test data release for Zenodo record ID $ZENODO_RECORD_ID" \
                      ${{ env.ARCHIVE_NAME }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
