name: Draft GitHub Release

on:
  workflow_dispatch:
    inputs:
      version_level:
        description: "Semantic version level increase."
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
      release_branch:
        description: "Branch to use for releasing."
        type: string
        default: "test_protected_develop"

permissions:
  contents: write
  pull-requests: write

jobs:
  github_release:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Configure git
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git pull

      - name: Merge changes into main
        run: |
          git switch test_protected_main
          git merge ${{ github.event.inputs.release_branch }} --no-ff --no-commit
          git merge --continue

      - name: Bump version
        id: bump
        run: |
          echo "-- install bump-my-version"
          python3 -m pip install bump-my-version
          echo "-- bump the version"
          bump-my-version bump ${{ github.event.inputs.version_level }} --commit --tag
          echo "-- push bumped version"
          echo "RELEASE_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
          git push --tags -f
          git push

      - name: Create GitHub Release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ steps.bump.outputs.RELEASE_TAG }} \
              --title="Release ${{ steps.bump.outputs.RELEASE_TAG }}" \
              --generate-notes \
              --draft

  tidy_workspace:
    # only run if action above succeeds
    needs: github_release
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Configure git
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git pull

      - name: Close PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "-- searching for associated PR"
          branch_name=${{ github.event.inputs.release_branch }}
          pr_number=$(gh pr list --head $branch_name --json number --jq '.[0].number')
          if [ -n "$pr_number" ]; then
            echo "-- closing PR #$pr_number"
            gh pr close $pr_number
          else
            echo "-- no open pull request found for branch $branch_name"
          fi

      - name: Merge updates into develop
        run: |
          git switch test_protected_develop
          git merge origin/test_protected_main
          git push

      - name: Delete release branch other than main or develop
        run: |
          if [[ ${{ github.event.inputs.release_branch}} != "test_protected_main" && ${{ github.event.inputs.release_branch}} != "test_protected_develop" ]]; then
            echo "-- deleting branch '${{ github.event.inputs.release_branch }}'"
            git push origin -d ${{ github.event.inputs.release_branch }}
          else
            echo "-- branch '${{ github.event.inputs.release_branch}}' will not be deleted from remote"
          fi
