name: Build and Test

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - "**.md"
      - "**.rst"
      - "**.ipynb"
    branches:
      - main
      - develop
jobs:
  test_and_build:
    if: github.event.pull_request.draft == false
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]
    name: Test and build for ${{ matrix.python-version }}, ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install_eitprocessing
        with:
          dependencies: testing
          python-version: ${{ matrix.python-version }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set data dir
        shell: bash
        id: set-path
        run: echo "data_dir=$GITHUB_WORKSPACE/test_data" >> "$GITHUB_OUTPUT"
      - name: Restore dataset cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.set-path.outputs.data_dir }}
          key: eitprocessing-testdata-zenodo.$ZENODO_RECORD_ID
      - name: Install zenodo-get
        if: steps.cache.outputs.cache-hit != 'true'
        run: python3 -m pip install zenodo-get
        shell: bash
      - name: Download test dataset
        shell: bash
        if: steps.cache.outputs['cache-hit'] != 'true'
        run: |
          mkdir -p ${{ steps.set-path.outputs.data_dir }}
          cd ${{ steps.set-path.outputs.data_dir }}
          zenodo_get $ZENODO_RECORD_ID
          cd -
      - name: Uninstall zenodo-get
        if: steps.cache.outputs['cache-hit'] != 'true'
        run: python3 -m pip uninstall --yes zenodo-get
        shell: bash
      - name: Run pytest
        run: pytest -v
