name: Documentation

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - develop

jobs:
  build-docs:
    if: github.event.pull_request.draft == false
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}
      - uses: ./.github/actions/install_eitprocessing
        with:
          dependencies: docs
          python-version: "3.10"
      - name: Link notebooks
        run: ln -s ../../notebooks docs/examples
      - name: Build documentation
        if: ${{ !(github.event_name == 'push' && github.ref == 'refs/heads/main') }}
        run: mkdocs build
      - name: Build and deploy documentation
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          mike deploy --push --update-aliases $(git describe --tags --abbrev=0 | sed -E 's/^([vV]?[0-9]+\.[0-9]+).*/\1/') latest
